<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".es.lectorhentai.LectorHentaiUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lectorhentai.com"
                    android:pathPattern="/..*"
                    android:scheme="https" />
                <data
                    android:host="www.lectorhentai.com"
                    android:pathPattern="/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
